<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>all stories</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />    
  </head>
  <body>
    <%- include('../../partials/navbar.ejs') %>
    <h1>All Stories</h1>
  
    <a href="/users/<%= currentUser._id %>/crud/new">Add a new story</a>
    <ul>
      <% users.forEach(user => { %>
        <% user.stories.forEach(story => { %>
          <li>
            <a href="/users/<%= user._id %>/crud/<%= story._id %>">
              <%= story.name %>
            </a>
          </li>
        <% }) %>
      <% }) %>
    </ul>
  </body>
</html>
