<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>create story</title>
  </head>
  <body>
    <%- include('../../partials/navbar.ejs') %>
    <h1>Add a New story</h1>

    <form action="/users/<%=user._id%>/crud/<%= story._id %>/edit?_method=PUT" method="POST">
      <label for="name">name</label>
      <input type="text" name="name" id="name" value="<%=story.name%>" />

      <label for="genre">genre</label>
      <select name="genre" id="genre">
        <option value="horror" <%= story.genre === 'horror' ? 'selected' : '' %>>horror</option>
        <option value="drama" <%= story.genre === 'drama' ? 'selected' : '' %>>drama</option>
        <option value="action" <%= story.genre === 'action' ? 'selected' : '' %>>action</option>
        <option value="adventure" <%= story.genre === 'adventure' ? 'selected' : '' %>>adventure</option>
        <option value="real-story" <%= story.genre === 'real-story' ? 'selected' : '' %>>real-story</option>
      </select>

      <label for="editable">editable by others</label>
      <input
        type="checkbox"
        name="editable"
        id="editable"
        <%if(story.editable){%>
      checked <%}%> />

      <label for="date">Date</label>
      <input type="date" name="date" id="date" value="<%= formattedDate %>" />

      <label for="content">content</label>
      <textarea name="content" id="content"><%=story.content%></textarea>

      <button type="submit">save changes</button>
    </form>
  </body>
</html>
