<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css" />    <title>Your Stories</title>
  </head>
  <body>
    
    <%- include('../../partials/navbar.ejs') %>
    <h1>Your stories</h1>

    <a href="/users/<%= user._id %>/crud/new">Add a new story</a>

    <ul>
      <%stories.forEach(story =>{%>

      <li>
        <a href="/users/<%=user._id%>/crud/<%= story._id %>"><%=story.name%></a>
      </li>

      <%})%>
    </ul>
  </body>
</html>
