<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Stories</title>
  </head>
  <body>
    <%- include('../../partials/navbar.ejs') %>
    <h1></h1>

    <h3>story name : <%=stories.name%></h3>
    <br /><br /><br />
    <ul>
      <p>editable : <%=stories.editable%></p>
      <p>story publish date : <%=stories.date%></p>
      <p>story genre : <%=stories.genre%></p>
      <p>the story :<br /><%=stories.content%></p>
    </ul>
    <br />
    <a href="/users/<%=user._id%>/crud/<%= stories._id %>/edit"
      >edit the story</a
    >

    <br /><br />
    <form
      action="/users/<%=user._id%>/crud/<%= stories._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete story</button>
    </form>
  </body>
</html>
