<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Stories</title>
  </head>
  <body>
    <%- include('../../partials/navbar.ejs') %>
    <h1>Story Details</h1>
    <h3>Story name: <%= story.name %></h3>
    <ul>
      <li>Publish date: <%= story.date.toISOString().split('T')[0] %></li>
      <li>Genre: <%= story.genre %></li>
      
    </ul>
    <p>the story : <%= story.content %></p>
    <%if(compare1===compare2){%>

    <a href="/users/<%= compare1 %>/crud/<%= story._id %>/edit">Edit this story , as the creater</a>
      <%}%>

      <%if(story.editable){%>

        <a href="/users/<%= compare1 %>/crud/<%= story._id %>/edit/public">Edit this story as a viewr</a>
          <%}%>



    
    <%if(compare1===compare2){%>

    <form
      action="/users/<%= user._id %>/crud/<%= story._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete story</button>
    </form>
    <%}%>
  </body>
</html>
